DEBUG=1
SECRET_KEY=foo
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1] *
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=iribas
SQL_USER=iribas
SQL_PASSWORD=iribas
SQL_HOST=localhost
#SQL_PORT=5432
SQL_PORT=15432
DATABASE=postgres
TZ=America/Asuncion

POSTGRES_HOST=db
POSTGRES_DB=iribas
POSTGRES_USER=iribas
POSTGRES_PASSWORD=iribas
#POSTGRES_PORT=5432
POSTGRES_PORT=15432
# POSTGRES_PASSWORD_FILE=/run/secrets/db_password <-- alternative for POSTGRES_PASSWORD (to use with docker secrets)
#POSTGRES_EXTRA_OPTS=-Z9 --schema=public --blobs
#SCHEDULE=@daily
#BACKUP_KEEP_DAYS=7
#BACKUP_KEEP_WEEKS=4
#BACKUP_KEEP_MONTHS=6
#HEALTHCHECK_PORT=80

# SIFEN
SIFEN_MIDDLEWARE_URL=http://0.0.0.0:3000/api/v1

# CLIENT PARAMS
SIFEN_LOGO=https://bellbird.com.py/_next/image?url=%2Flogo.png&w=750&q=75
SIFEN_PASSWORD=LiP4Tq/5
SIFEN_ID_CSC=0001
SIFEN_CSC=ABCD0000000000000000000000000000

# PARAMS
SIFEN_DIGITAL_SIGNATURE_DATE=2023-03-01T00:00:00
SIFEN_RUC=80113746-2
SIFEN_BUSINESS_NAME=Bellbird S.R.L.
SIFEN_FANTASY_NAME=Bellbird S.R.L.
# PARAMS - ECONOMIC ACTIVITY
SIFEN_ECONOMIC_ACTIVITY_CODE = 62010
SIFEN_ECONOMIC_ACTIVITY_DESCRIPTION=ACTIVIDADES DE PROGRAMACIÓN INFORMÁTICA
SIFEN_STAMP_NUMBER=12558956
SIFEN_STAMP_DATE=2021-09-01
# PARAMS - ESTABLISHMENT
SIFEN_ESTABLISHMENT_CODE=001
SIFEN_ESTABLISHMENT_DIRECTION=Barrio Herrera
SIFEN_ESTABLISHMENT_HOUSE_NUMBER=3017
SIFEN_ESTABLISHMENT_STREET_NAME_1=4 de Julio
SIFEN_ESTABLISHMENT_STREET_NAME_2=Concejal Vargas
SIFEN_ESTABLISHMENT_DEPARTMENT_CODE=1
SIFEN_ESTABLISHMENT_DEPARTMENT_DESCRIPTION=CAPITAL
SIFEN_ESTABLISHMENT_DISTRICT_CODE=1
SIFEN_ESTABLISHMENT_DISTRICT_DESCRIPTION=Asunción
SIFEN_ESTABLISHMENT_CITY_CODE=1
SIFEN_ESTABLISHMENT_CITY_DESCRIPTION=Asunción
SIFEN_ESTABLISHMENT_PHONE=0992-305838
SIFEN_ESTABLISHMENT_EMAIL=contacto@bellbird.com.py
SIFEN_ESTABLISHMENT_DENOMINATION=Sucursal 1

# EMAIL SENDER
EMAIL_HOST=smtp.zoho.com
EMAIL_PORT=587
EMAIL_HOST_USER=franco.albertini@bellbird.com.py
EMAIL_HOST_PASSWORD=N2qtp3WtTQia
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=Facturacion <franco.albertini@bellbird.com.py>