{% extends "layout.html" %}

{% load static %}
{% load humanize %}
{% block heading %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">
        Fichas de Estudios
    </h1>

{% endblock %}
{% block content %}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                Listado de Estudios No Realizados para Técnicos
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {{ datatable }}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <!-- Custom styles for this page -->
    <link href="{% static 'build/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'build/vendor/chosen-js/chosen.min.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
    <!-- Page level plugins -->
    <script src="{% static 'build/vendor/chosen-js/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'build/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'build/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'js/datatableview.js' %}"></script>

    <!-- Page level custom scripts -->
    <script type="text/javascript">


        /* Document ready */
        $(function () {

            $('#sidebarToggle').trigger('click');

            /* se inicializa el datatables */
            datatableview.initialize($('.datatable'),{
                    /* Archivo de traducción */
                    language: {
                        url: "{% url 'datatables_translation' %}",
                    },
                    columnDefs: [
                        { type: "numeric-comma", targets: [1] },
                    ],
                }

            );

        });

    </script>


{% endblock %}